<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MaxWiki &mdash; API 文档浏览器</title>
  <%= stylesheet_tag 'application' %>
</head>
<body>
  <div class="_fail">
    <h1 class="_fail-title">很抱歉，您的浏览器不受支持。</h1>
    <p class="_fail-text">MaxWiki 是一个 API 文档浏览器，支持以下浏览器：</p>
    <ul class="_fail-list">
      <li>最新版的 Firefox、Chrome 或 Opera</li>
      <li>Safari 11.1 及以上</li>
      <li>Edge 17 及以上</li>
      <li>iOS 11.3 及以上</li>
    </ul>
    <p class="_fail-text">
      如果您无法升级，我们深感抱歉。
      我们决定优先考虑速度和新功能，而不是对旧版浏览器的支持。
    </p>
    <p class="_fail-text">
      &mdash; <a href="https://twitter.com/MaxWiki">@MaxWiki</a>
    </p>
  </div>
</body>
</html>
