app.templates.splash = "<div class=\"_splash-title\">DevDocs</div>";

<% if App.development? %>
app.templates.intro = `\
<div class="_intro"><div class="_intro-message">
  <a href="#" class="_intro-hide" data-hide-intro>不再显示此消息</a>
  <h2 class="_intro-title">你好！</h2>
  <p>感谢你下载 DevDocs。这里有一些你需要了解的事项：
  <ol class="_intro-list">
    <li>你的本地 DevDocs 版本不会自动更新。除非你要修改代码，否则我们推荐使用托管版：<a href="https://devdocs.io">devdocs.io</a>。
    <li>运行 <code>thor docs:list</code> 查看所有可用文档。
    <li>运行 <code>thor docs:download &lt;name&gt;</code> 下载文档。
    <li>运行 <code>thor docs:download --installed</code> 更新所有已下载文档。
    <li>想要获取新版本通知，别忘了在 GitHub 上<a href="https://github.com/freeCodeCamp/devdocs/subscription">关注本仓库</a>。
    <li><a href="https://github.com/freeCodeCamp/devdocs/issues">问题追踪器</a>是报告 bug 和功能请求的首选渠道。其他问题请用 <a href="https://discord.gg/PRyKn3Vbay">Discord</a>。
    <li>欢迎贡献代码。请参阅<a href="https://github.com/freeCodeCamp/devdocs/blob/main/CONTRIBUTING.md">贡献指南</a>。
    <li>DevDocs 遵循 Mozilla Public License v2.0 许可。详情见<a href="https://github.com/freeCodeCamp/devdocs/blob/main/COPYRIGHT">版权</a>和<a href="https://github.com/freeCodeCamp/devdocs/blob/main/LICENSE">许可证</a>文件。
  </ol>
  <p>祝你编程愉快！
</div></div>\
`;
<% else %>
app.templates.intro = `\
<div class="_intro"><div class="_intro-message">
  <a href="#" class="_intro-hide" data-hide-intro>不再显示此消息</a>
  <h2 class="_intro-title">欢迎！</h2>
  <p>DevDocs 将多个 API 文档整合到一个快速、有序、可搜索的界面中。
     在开始之前，你需要了解以下内容：
  <ol class="_intro-list">
    <li>打开<a href="/settings">偏好设置</a>以启用更多文档并自定义界面。
    <li>你无需使用鼠标——查看<a href="/help#shortcuts">快捷键列表</a>。
    <li>搜索支持模糊匹配（如输入 "bgcp" 可找到 "background-clip"）。
    <li>要搜索特定文档，输入其名称（或缩写），然后按 Tab。
    <li>你可以通过浏览器地址栏搜索——<a href="/help#browser_search">了解方法</a>。
    <li>DevDocs 支持<a href="/offline">离线</a>、移动端，并可作为 Web 应用安装。
    <li>获取最新消息，请关注 <a href="https://twitter.com/DevDocs">@DevDocs</a>。
    <li>DevDocs 免费且<a href="https://github.com/freeCodeCamp/devdocs">开源</a>。
        <img src="https://img.shields.io/github/stars/freeCodeCamp/devdocs.svg?style=social" aria-hidden="true" height="20">
    <li>如果你是编程新手，欢迎学习<a href="https://www.freecodecamp.org/">freeCodeCamp 的开源课程</a>。
  </ol>
  <p>祝你编程愉快！
</div></div>\
`;
<% end %>

app.templates.mobileIntro = `\
<div class="_mobile-intro">
  <h2 class="_intro-title">欢迎！</h2>
  <p>DevDocs 将多个 API 文档整合到一个快速、有序、可搜索的界面中。
     在开始之前，你需要了解以下内容：
  <ol class="_intro-list">
    <li>在<a href="/settings">偏好设置</a>中选择你的文档。
    <li>搜索支持模糊匹配。
    <li>要搜索特定文档，输入其名称（或缩写），然后按空格。
    <li>获取最新消息，请关注 <a href="https://twitter.com/DevDocs">@DevDocs</a>。
    <li>DevDocs 是<a href="https://github.com/freeCodeCamp/devdocs">开源</a>项目。
  </ol>
  <p>祝你编程愉快！
  <a class="_intro-hide" data-hide-intro>不再显示此消息</a>
</div>\
`;

app.templates.androidWarning = `\
<div class="_mobile-intro">
  <h2 class="_intro-title">你好</h2>
  <p>DevDocs 正在 Android WebView 中运行，部分功能可能无法正常使用。
  <p>如果你在 Play 商店下载了名为 DevDocs 的应用，请卸载它——该应用由未经授权的人开发并获利。
  <p>如需在手机上安装 DevDocs，请用 Chrome 访问 <a href="https://devdocs.io" target="_blank" rel="noopener">devdocs.io</a>，并在菜单中选择“添加到主屏幕”。
</div>\
`;
